[Unit]
Description="Gollum wiki"

[Service]
User={{ wiki_user.name }}
Group={{ wiki_user.name }}
Type=Simple
ExecStart=/usr/local/rvm/gems/ruby-{{ ruby_version }}/bin/gollum {{ wiki_dir_path }} --ref main --allow-uploads page --critic-markup --mathjax --emoji --no-display-metadata

[Install]
WantedBy=multi-user.target
